/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed; /* 固定位置 */
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f2f3f3;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  z-index: 20;
  height: 4em; /* 设置导航栏高度为 4em */
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center; /* 垂直居中 */
  justify-content: space-between; /* 水平分布，根据需要调整 */

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0 1em; /* 调整内边距为 0 顶底间距，左右 1em */
    font-family: $sans-serif-narrow;
    display: flex; /* 内部再次使用 Flexbox 布局 */
    align-items: center; /* 确保内容垂直居中 */
    justify-content: space-between; /* 水平分布子元素 */

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    display: flex; /* 确保导航项水平排列 */
    align-items: center; /* 垂直居中导航项 */
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
