.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f2f3f3;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  z-index: 20;
  height: 3em; /* 设置导航栏高度为 3em */
  line-height: 3em; /* 设置行高为3em，确保文字垂直居中 */
  text-align: left; /* 确保文字左对齐 */
}

.masthead__inner-wrap {
  @include container;
  @include clearfix;
  padding: 0 1em; /* 根据需要调整内边距 */
  font-family: $sans-serif-narrow;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  nav {
    z-index: 10;
  }

  a {
    text-decoration: none;
  }
}
